body{
    background-color: black;
}

p{
    color: azure;
    font-family: sans-serif;
}
h1 {
  font-size: 60px;
  margin: 16px 0;
  color: azure;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    color: rgb(255, 255, 255);
}
a:hover {
  color: #f2a365;
  text-decoration: underline;
}